
/* Footer */

	#footer {
        // ---- NIEUWE STIJL (KOPIE VAN HEADER) ----
        @include color(accent1);
        background-image: url('images/overlay.png'), url('images/pattern-size1.svg');
        background-position: top left, center center;
        background-attachment: fixed, fixed;
        background-size: auto, cover;
        // -----------------------------------------

        @include padding(4.5em, 0);
        text-align: center;

        a {
            color: inherit;
        }

        .copyright {
            font-size: 0.8em;
        }

        // Medium.
            @include breakpoint('<=medium') {
                @include padding(4em, 4em);
            }

        // Small.
            @include breakpoint('<=small') {

                // Landscape.
                    @include orientation(landscape) {
                        @include padding(3em, 3em);
                    }

                // Portrait.
                    @include orientation(portrait) {
                        @include padding(3em, 1.5em);
                    }

            }

    }