
/* Main */

	#main {
		@include padding(4em, 0);

		// Small.
			@include breakpoint('<=small') {
				@include padding(3em, 0);
			}

	}
	
	#one {
    // 1. De achtergrondkleur (pas de hex-code aan naar wens)
    background-color: #5e5e5f; 
    
    // 2. De tekstkleur algemeen (wit maken voor contrast)
    color: #ffffff;            

    header.major {
        h2 {
            font-style: italic;
            font-size: 1.3em;
            color: #ffffff !important; // Forceer de kop ook naar wit
        }
    }
    
    // 3. Optioneel: Zorg dat de iconen ook wit/licht worden
    .icon {
        color: #ffffff !important;
    }
}