
/* Main */

	#main {
		@include padding(4em, 0);

		
			@include breakpoint('<=small') {
				@include padding(3em, 0);
			}

	}
	
	#one {
    background-color: #e6e6e6; 

    header.major {
        h2 {
            font-style: italic;
            font-size: 1.3em;
            color: #999999; 
        }
    }

    .icon {
        
        color: #999999 !important;          
        border-color: #999999 !important; 
    }
}